# First adding the boiler plate code to get the seeds and GPU and imports all setup.

In [2]:
import random
import torch
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm




# enable tqdm in pandas
tqdm.pandas()

# set to True to use the gpu (if there is one available)
use_gpu = True

# select device
device = torch.device('cuda' if use_gpu and torch.cuda.is_available() else 'cpu')
print(f'device: {device.type}')

# random seed
seed = 1234

# set random seed
if seed is not None:
    print(f'random seed: {seed}')
    random.seed(seed)
    np.random.seed(seed)
    torch.manual_seed(seed)

device: cuda
random seed: 1234

# Load the average contextualized embeddings generated in problem 1.

In [9]:
avg_cont_embed_df = pd.read_csv('datafiles/avg_cont_embed.csv',index_col=0)

In [10]:
avg_cont_embed_df.shape

(49504, 2)

In [11]:
display(avg_cont_embed_df.head())

   tok_id                                     avg_cont_embed
0       0  [-5.39073523e-02  8.65999559e-02 -7.18399968e-...
1     133  [-6.94526936e-02  5.06757393e-03  7.07668220e-...
2     735  [ 2.78572527e-02  1.70788002e-01 -3.63033314e-...
3   34546  [ 1.95692618e-03  4.24294915e-02 -6.88165508e-...
4      16  [ 8.23113065e-02  2.12119394e-01  4.44760443e-...